[submodule "pcb/deps/RP2040-Zero-Kicad"]
	path = pcb/deps/RP2040-Zero-Kicad
	url = https://github.com/CountParadox/RP2040-Zero-Kicad.git
[submodule "pcb/deps/kbd"]
	path = pcb/deps/kbd
	url = git@github.com:tangzero/kbd.git
[submodule "deps/kmk_firmware"]
	path = deps/kmk_firmware
	url = https://github.com/KMKfw/kmk_firmware.git
